header{
    position: absolute;
    width:100%;
    z-index:2;
    

    li.nav-item::after{
        content: '';
        display: block;
        width:0;
        height:2px;
        background:none;
        transition:all 0.3s;
        background: #00C2FF;

        margin:auto;

    }
    li.nav-item:hover::after{
        width:100%;
    }

}

.section1{


    // p{
    //     color:#DCDCDC;
    //     text-align: center;
    //     font-size:22px;
    // }
}
div.backgroundImage{
    position:absolute;
    height:100vh;
    width:100%;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position:75% ;
    z-index:-2;
    
}


div.darkOverlay{
    background-image: linear-gradient(to right , rgba(0,0,0,1), rgba(0,0,0,0.7),rgba(0,0,0,0));
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    z-index:-1;
}

    @media screen and(min-width:1200px){
        .welcome-text,.welcome-text-sub{
            font-size:40px;
        }
    }

.welcome-text-sub{
    color:rgb(161, 161, 161)
}


.section1 .text-container{
    left:5vw;
}